:root {
  /* Colours */
  --color-text: #333; /* Soft dark grey for text */
  --color-primary: #f5f5dc; /* Beige for primary elements */
  --color-secondary: #fff8e7; /* Cream for secondary elements */
  --color-dark: #eae4d3; /* Light cream for accents or darker backgrounds */
  --color-bg: #fffdf6; /* Soft white/cream background */
  
  /* Fonts */
  --font-roboto: "Roboto";
}
 